body{
    background-color: bisque;
    font-family: 'Open Sans' ;
}

footer {
    background-color: black;
    color: white;
    bottom: 0;
    position: fixed;
    width: 100%;
}

 footer p {
    text-align: center;
    font-size: small;
    height: 02rem;
    margin-top: 0.5rem;
 }